chapter5/vagrant/.vagrant/machines/web/virtualbox/action_set_name
chapter5/vagrant/.vagrant/machines/web/virtualbox/creator_uid
chapter5/vagrant/.vagrant/machines/web/virtualbox/id
chapter5/vagrant/.vagrant/machines/web/virtualbox/index_uuid
chapter5/vagrant/.vagrant/machines/web/virtualbox/vagrant_cwd
chapter5/vagrant/.vagrant/machines/web/virtualbox/box_meta
chapter5/vagrant/.vagrant/rgloader/loader.rb
chapter5/vagrant/.vagrant/machines/web/virtualbox/action_provision
chapter5/vagrant/.vagrant/machines/web/virtualbox/synced_folders
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/action_set_name
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/creator_uid
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/id
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/box_meta
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/index_uuid
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/vagrant_cwd
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/action_provision
chapter5/vagrant/.vagrant/machines/zabbix/virtualbox/synced_folders
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/action_provision
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/action_set_name
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/box_meta
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/creator_uid
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/id
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/index_uuid
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/synced_folders
chapter5/vagrant/.vagrant/machines/ansible/virtualbox/vagrant_cwd
